//- mixin for creating a block for each component of the library:

mixin block(biscuitBlock, ...mods)
  section(class='block' id=`${biscuitBlock.name}`)
    div(class='block__about')
      header(class='block__header') 
        span(class='heading heading_size_h1') #{biscuitBlock.name}
        a(href=`${biscuitBlock.repository}` class='icons' aria-hidden='true' focusable='false' title='Github')
          span(class='icons__access-label') Github
          svg(class=`icons__img icons__img_size_lg icons__img_color_black`)
            use(xlink:href='./img/sprite.svg#github')
      span('text text_display_inline') #{biscuitBlock.description}
      - if (mods != false)
        div(class='doc-table')
          table(class='doc-table__container')
            thead
              tr(class='doc-table__row text text_color_white')
                th(class='doc-table__cell doc-table__cell_type_header doc-table__col1') Modifiers
                th(class='doc-table__cell doc-table__cell_type_header doc-table__col2') Values
                th(class='doc-table__cell doc-table__cell_type_header doc-table__col3') Description
            tbody
              each mod in mods
                tr(class='doc-table__row')
                  td(class='doc-table__cell doc-table__cell_type_main doc-table__col1')
                    code(class='code code_display_inline code_theme_gray') #{mod.name}
                  td(class='doc-table__cell doc-table__cell_type_main doc-table__col2')
                    - if (mod.values === undefined) 
                      span('text text_display_inline') —
                    - else 
                      each value in mod.values
                        code(class='code code_display_inline code_theme_gray') #{value}
                  td(class='doc-table__cell table__cell_type_main doc-table__col3') #{mod.description}
    block