include ./block-mixin.pug

doctype html
html(lang='en' class='doc-html')

  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1,  viewport-fit=cover, shrink-to-fit=no')
    
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    
    link(rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png")
    link(rel="manifest" href="./site.webmanifest")
    link(rel="mask-icon" href="./safari-pinned-tab.svg" color="#aa4400")
    meta(name="msapplication-TileColor" content="#603cba")
    meta(name="theme-color" content="#ffffff")

    meta(name='description' content='component library/boilerplate for developing websites based on BEM methodology and a mobile-first approach')
    //- Displayed in Google search results:
    meta(name='keywords' content='web development, bem, components, sass, javascript, pug, frontend')
    meta(name='author' content='Andrey Ponomarev')
    title Biscuit Components
      
  body(class='doc-html__body') 
    noscript Your browser doesn't support JavaScript or you have disabled JavaScript.   
     

     
    div(class="doc-nav")
      img(src='./img/biscuit-logo-white.svg' alt='Biscuit Logo' title='Biscuit' class='img-svg doc-nav__logo')
      div(class='doc-nav__section' href='#typography') 
        span(class='doc-nav__heading') Typography
        a(class='doc-nav__link' href='#heading') heading
        a(class='doc-nav__link' href='#text') text
        a(class='doc-nav__link' href='#hr') hr
        a(class='doc-nav__link' href='#list') list
        a(class='doc-nav__link' href='#link') link
        a(class='doc-nav__link' href='#code') code
        a(class='doc-nav__link' href='#blockquote') blockquote

      div(class='doc-nav__section' href='#images') 
        span(class='doc-nav__heading') Images
        a(class='doc-nav__link' href='#img-raster') img-raster
        a(class='doc-nav__link' href='#img-svg') img-svg

      div(class='doc-nav__section' href='#videos') 
        span(class='doc-nav__heading') Videos
        a(class='doc-nav__link' href='#embed') embed

      div(class='doc-nav__section' href='#containers')
        span(class='doc-nav__heading') Containers
        a(class='doc-nav__link' href='#fullscreen-bg') fullscreen-bg
        a(class='doc-nav__link' href='#grid-simple') grid-simple
        a(class='doc-nav__link' href='#grid-page-layout1') grid-page-layout1
        a(class='doc-nav__link' href='#grid-page-layout2') grid-page-layout2
        a(class='doc-nav__link' href='#grid-gallery') grid-gallery
        a(class='doc-nav__link' href='#page') page
        a(class='doc-nav__link' href='#table') table

      div(class='doc-nav__section' href='#components') 
        span(class='doc-nav__heading') Components
        a(class='doc-nav__link' href='#lightbox') lightbox
        a(class='doc-nav__link' href='#btn-back-to-top') btn-back-to-top
        a(class='doc-nav__link' href='#btn') btn 
        a(class='doc-nav__link' href='#badge') badge
        a(class='doc-nav__link' href='#label') label
        a(class='doc-nav__link' href='#pagination') pagination
        a(class='doc-nav__link' href='#comment') comment
        a(class='doc-nav__link' href='#select') select
        a(class='doc-nav__link' href='#hamburger') hamburger
        a(class='doc-nav__link' href='#modal') modal
        a(class='doc-nav__link' href='#breadcrumbs') breadcrumbs
        a(class='doc-nav__link' href='#icons') icons

      div(class='doc-nav__section' href='#forms') 
        span(class='doc-nav__heading') Forms
        a(class='doc-nav__link' href='#control') control
        a(class='doc-nav__link' href='#grid-forms') grid-forms
        a(class='doc-nav__link' href='#form-group') form-group

      div(class='doc-nav__section' href='#config') 
        span(class='doc-nav__heading') Config
        a(class='doc-nav__link' href='https://github.com/ponomarevandrey/biscuit-components/blob/master/src/blocks/_global.scss') SCSS Config

      a(class='doc-nav__icon')
        div(class='doc-nav__icon_item1')
        div(class='doc-nav__icon_item2')
        div(class='doc-nav__icon_item3')

    main(class='doc-content' id='demo')
      div(class='doc-content__about')
        h3(class='heading heading_size_h2 doc-content__heading') About
        p(class='text text_display_block') Biscuit is a UI component/pattern library for developing websites based on BEM methodology and a mobile-first approach.
        p(class='text text_display_block') Biscuit splits up all page elements into reusable BEM-blocks (components) implemented in Sass/JavaScript/Pug. Examples of such blocks are #[code(class='code code_display_inline') btn], #[code(class='code code_display_inline') lightbox], #[code(class='code code_display_inline') heading], #[code(class='code code_display_inline') grid-gallery], ...
        img(
          src='./img/logos.svg' 
          alt='Biscuit Components'
          title='Biscuit'
          class='img-svg doc-content__logos'
        )

        include ./blocks/heading.pug
        include ./blocks/text.pug
        include ./blocks/hr.pug
        include ./blocks/list.pug
        include ./blocks/link.pug
        include ./blocks/code.pug
        include ./blocks/blockquote.pug
  
        include ./blocks/img-raster.pug
        include ./blocks/img-svg.pug

        include ./blocks/embed.pug

        include ./blocks/fullscreen-bg.pug
        include ./blocks/grid-simple.pug
        include ./blocks/grid-page-layout1.pug
        include ./blocks/grid-page-layout2.pug
        include ./blocks/grid-gallery.pug
        include ./blocks/page.pug
        include ./blocks/table.pug

        include ./blocks/lightbox.pug
        include ./blocks/btn-back-to-top.pug
        include ./blocks/btn.pug
        include ./blocks/badge
        include ./blocks/label.pug
        include ./blocks/pagination.pug
        include ./blocks/comment.pug
        include ./blocks/select.pug
        include ./blocks/hamburger.pug
        include ./blocks/modal.pug
        include ./blocks/breadcrumbs.pug
        include ./blocks/icons.pug

        include ./blocks/control.pug
        include ./blocks/grid-forms
        include ./blocks/form-group.pug

      footer(class='doc-content__footer')
        a(
          href='https://github.com/ponomarevandrey' 
          class='icons' 
          aria-hidden='true'
          focusable='false' 
          title='Github'
        )
          span(class='icons__access-label') Github
          svg(class=`icons__img icons__img_size_md icons__img_color_black`)
            use(xlink:href='./img/sprite.svg#github')
  