include ./../block-mixin.pug

+block(
  { name: 'form-group',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/tree/master/src/blocks/form-group',
    category: 'forms',
    description: 'Form group' },

  { name: 'type',
    values: ['textarea', 'search'],
    description: 'Applies to "form-group__input"' },

  { name: 'row',
    values: undefined,
    description: 'Applies to "form-group"' },

  { name: 'disabled',
    values: undefined,
    description: 'Applies to "form-group"' },

  { name: 'validation',
    values: ['error', 'success'],
    description: 'Applies to "form-group"' }
)
  //-
    div(class='block__readme') 
      include:markdown-it ./../blocks.biscuit-lib/grid-forms/README.md
  div(class='block__example')
    div(class='form-group')
      label(
        class='form-group__label' 
        for='form1') A long sentence you're forced to read to understand what this stupid form wants from you
      div(class='form-group__container')
        input(
          class='form-group__input' 
          type='text' 
          id='form1' 
          name='name' 
          placeholder='Your name')
        div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

    div(class='form-group form-group_row')
        label(
          class='form-group__label' 
          for='form2') Phone/Mobile
        div(class='form-group__container')
          input(
            class='form-group__input' 
            type='text' 
            id='form2' 
            name='name' 
            placeholder='Your name')
          div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

    div(class='form-group form-group_row')
        label(
          class='form-group__label' 
          for='form3') Textarea
        div(class='form-group__container')
          textarea(
            class='form-group__input form-group__input_type_textarea' 
            id='form3' 
            name='story'
            placeholder='Placholder text...')
          div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

    //- form validation error
    div(class='form-group form-group_validation_error form-group_row text')
        label(
          class='form-group__label' 
          for='form4') Textarea
        div(class='form-group__container')
          textarea(
            class='form-group__input form-group__input_type_textarea' 
            id='form4' 
            name='message') Default text
          div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

    //- form validation success
    div(class='form-group form-group_validation_success form-group_row text')
        label(
          class='form-group__label' 
          for='form5') Textarea
        div(class='form-group__container')
          textarea(
            class='form-group__input form-group__input_type_textarea' 
            id='form5' 
            name='story') Default text
          div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

    //- form-group disabled
    div(class='form-group form-group_row form-group_disabled')
        label(
          class='form-group__label' 
          for='form6') First name
        div(class='form-group__container')
          input(
            class='form-group__input' 
            type='text' 
            id='form6' 
            name='name' 
            placeholder='Your name'
            disabled)
          div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

    //- form-group search
    div(class='form-group form-group_row' style='width: 100%;')
        label(
          class='form-group__label' 
          for='search') Search
        div(class='form-group__container')
          input(
            class='form-group__input form-group__input_type_search' 
            type='text' 
            id='search' 
            name='name' 
            placeholder='Search...')

    //- fieldset
    fieldset(class='form-group-wrapper')
      legend(class='form-group form-group_row')
        span(class='form-group__label') First name:

        span
          span(class='form-group__container control')
            input(
              class='control__system-control'
              id='a1' 
              type='radio'
              value='1'  
              name='group1')
            label(
              class='control__label control__label_radio' 
              for='a1') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting !!!
            span(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Text text text

          span(class='form-group__container control')
            input(
              class='control__system-control'
              id='a2' 
              type='radio'  
              value='2'
              name='group1')
            label(
              class='control__label control__label_radio' 
              for='a2') Milk
            span(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting

          span(class='form-group__container control')
            input(
              class='control__system-control'
              id='a3' 
              type='radio' 
              value='3' 
              name='group1')
            label(
              class='control__label control__label_radio'
              for='a3') Milk
            span(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Text text text       

