include ./../block-mixin.pug

+block(
  { name: 'grid-simple',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/tree/master/src/blocks/grid-simple',
    category: 'containers',
    description: 'Simple responsive grid' }
)
  div(class='block__example')

    div(class='grid-simple')

      div(class='grid-simple__item')
        //- img-raster block
        figure(class='img-raster')
          picture(class='img-raster__wrapper')   
            img(
              class='img-raster__img' 
              
              src="./img/animals_landscape_lg.jpg" 
              
              sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 768px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw" 
              
              srcset="./img/animals_landscape_sm.jpg 480w, ./img/animals_landscape_md.jpg 768w, ./img/animals_landscape_lg.jpg 992w, ./img/animals_landscape_xl.jpg 1200w, ./img/animals_landscape_xxl.jpg 1800w, ./img/animals_landscape_xxxl.jpg 2000w" 
              
              alt='Ships in the Field')
        h1(class='heading heading_size_h3') Heading One Billions upon bil lions upon billions
        p(class=`text text_display_block`) Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
        a(class='btn btn_theme_black btn_size_md' href='https://github.com/ponomarevandrey') Visit Website

      div(class='grid-simple__item')
        //- img-raster block
        figure(class='img-raster')
          picture(class='img-raster__wrapper')   
            img(
              class='img-raster__img' 
              
              src="./img/animals_landscape_lg.jpg" 
              
              sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 768px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw" 
              
              srcset="./img/animals_landscape_sm.jpg 480w, ./img/animals_landscape_md.jpg 768w, ./img/animals_landscape_lg.jpg 992w, ./img/animals_landscape_xl.jpg 1200w, ./img/animals_landscape_xxl.jpg 1800w, ./img/animals_landscape_xxxl.jpg 2000w" 
              
              alt='Ships in the Field')
        h1(class='heading heading_size_h3') Heading One Billions upon bil lions upon billions
        p(class=`text text_display_block`) Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
        a(class='btn btn_theme_black btn_size_md' href='https://github.com/ponomarevandrey') Visit Website

      div(class='grid-simple__item')
        //- img-raster block
        figure(class='img-raster')
          picture(class='img-raster__wrapper')   
            img(
              class='img-raster__img' 
              
              src="./img/animals_landscape_lg.jpg" 
              
              sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 768px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw" 
              
              srcset="./img/animals_landscape_sm.jpg 480w, ./img/animals_landscape_md.jpg 768w, ./img/animals_landscape_lg.jpg 992w, ./img/animals_landscape_xl.jpg 1200w, ./img/animals_landscape_xxl.jpg 1800w, ./img/animals_landscape_xxxl.jpg 2000w" 
              
              alt='Ships in the Field')
        h1(class='heading heading_size_h3') Heading One Billions upon bil lions upon billions
        p(class=`text text_display_block`) Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
        a(class='btn btn_theme_black btn_size_md' href='https://github.com/ponomarevandrey') Visit Website

      div(class='grid-simple__item')
        //- img-raster block
        figure(class='img-raster')
          picture(class='img-raster__wrapper')
            img(
              class='img-raster__img'

              src="./img/animals_landscape_lg.jpg"

              sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 768px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw"

              srcset="./img/animals_landscape_sm.jpg 480w, ./img/animals_landscape_md.jpg 768w, ./img/animals_landscape_lg.jpg 992w, ./img/animals_landscape_xl.jpg 1200w, ./img/animals_landscape_xxl.jpg 1800w, ./img/animals_landscape_xxxl.jpg 2000w"

              alt='Ships in the Field')
        h1(class='heading heading_size_h3') Heading One Billions upon bil lions upon billions
        p(class=`text text_display_block`) Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
        a(class='btn btn_theme_black btn_size_md' href='https://github.com/ponomarevandrey') Visit Website
