include ./../block-mixin.pug

+block(
  { name: 'icons',
    repository: 'https://github.com/ponomarevandrey/biscuit-components/blob/master/src/icons',
    category: 'components',
    description: 'Social media icons' },

  { name: 'size',
    values: ['sm', 'md', 'lg'],
    description: 'Size of icons' },

  { name: 'color',
    values: ['github', 'facebook', 'instagram', 'odnoklassniki', 'telegram', 'twitter', 'youtube', 'vkontakte', 'black', 'white'],
    description: 'Color of icons' }
)
  div(class='block__example block__icons block__preview_halign_space-evenly')
    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Github'
    )
      span(class='icons__access-label') Github
      svg(class='icons__img icons__img_size_sm icons__img_color_github')
        use(xlink:href='./img/sprite.svg#github')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Facebook'
    )
      span(class='icons__access-label') Facebook
      svg(class='icons__img icons__img_size_sm icons__img_color_facebook')
        use(xlink:href='./img/sprite.svg#facebook')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Instagram'
    )
      span(class='icons__access-label') Instagram
      svg(class='icons__img icons__img_size_sm icons__img_color_instagram')
        use(xlink:href='./img/sprite.svg#instagram')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Odnoklassniki'
    )
      span(class='icons__access-label') Odnoklassniki
      svg(class='icons__img icons__img_size_sm icons__img_color_odnoklassniki')
        use(xlink:href='./img/sprite.svg#odnoklassniki')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Telegram'
    )
      span(class='icons__access-label') Telegram
      svg(class='icons__img icons__img_size_sm icons__img_color_telegram')
        use(xlink:href='./img/sprite.svg#telegram')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Twitter'
    )
      span(class='icons__access-label') Twitter
      svg(class='icons__img icons__img_size_sm icons__img_color_twitter')
        use(xlink:href='./img/sprite.svg#twitter')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='YouTube'
    )
      span(class='icons__access-label') YouTube
      svg(class='icons__img icons__img_size_sm icons__img_color_youtube')
        use(xlink:href='./img/sprite.svg#youtube')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='VKontakte'
    )
      span(class='icons__access-label') VKontakte
      svg(class='icons__img icons__img_size_sm icons__img_color_vkontakte')
        use(xlink:href='./img/sprite.svg#vkontakte')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Viber'
    )
      span(class='icons__access-label') Viber
      svg(class='icons__img icons__img_size_sm icons__img_color_viber')
        use(xlink:href='./img/sprite.svg#viber')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Skype'
    )
      span(class='icons__access-label') Skype
      svg(class='icons__img icons__img_size_sm icons__img_color_skype')
        use(xlink:href='./img/sprite.svg#skype')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Whatsapp'
    )
      span(class='icons__access-label') Whatsapp
      svg(class='icons__img icons__img_size_sm icons__img_color_whatsapp')
        use(xlink:href='./img/sprite.svg#whatsapp')

    //-

  div(class='block__example block__icons block__preview_halign_space-evenly')
    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Github'
    )
      span(class='icons__access-label') Github
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#github')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Facebook'
    )
      span(class='icons__access-label') Facebook
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#facebook')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Instagram'
    )
      span(class='icons__access-label') Instagram
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#instagram')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Odnoklassniki'
    )
      span(class='icons__access-label') Odnoklassniki
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#odnoklassniki')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Telegram'
    )
      span(class='icons__access-label') Telegram
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#telegram')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Twitter'
    )
      span(class='icons__access-label') Twitter
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#twitter')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='YouTube'
    )
      span(class='icons__access-label') YouTube
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#youtube')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='VKontakte'
    )
      span(class='icons__access-label') VKontakte
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#vkontakte')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Viber'
    )
      span(class='icons__access-label') Viber
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#viber')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Skype'
    )
      span(class='icons__access-label') Skype
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#skype')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Whatsapp'
    )
      span(class='icons__access-label') Whatsapp
      svg(class='icons__img icons__img_size_md icons__img_color_black')
        use(xlink:href='./img/sprite.svg#whatsapp')


    //-

  div(class='block__example block__icons block__preview_halign_space-evenly' style="background-color: black;")
    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Github'
    )
      span(class='icons__access-label') Github
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#github')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Facebook'
    )
      span(class='icons__access-label') Facebook
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#facebook')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Instagram'
    )
      span(class='icons__access-label') Instagram
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#instagram')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Odnoklassniki'
    )
      span(class='icons__access-label') Odnoklassniki
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#odnoklassniki')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Telegram'
    )
      span(class='icons__access-label') Telegram
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#telegram')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Twitter'
    )
      span(class='icons__access-label') Twitter
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#twitter')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='YouTube'
    )
      span(class='icons__access-label') YouTube
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#youtube')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='VKontakte'
    )
      span(class='icons__access-label') VKontakte
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#vkontakte')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Viber'
    )
      span(class='icons__access-label') Viber
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#viber')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Skype'
    )
      span(class='icons__access-label') Skype
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#skype')

    a(
      href='https://github.com/ponomarevandrey' 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Whatsapp'
    )
      span(class='icons__access-label') Whatsapp
      svg(class='icons__img icons__img_size_lg icons__img_color_white')
        use(xlink:href='./img/sprite.svg#whatsapp')